.pure-control-group
  %p last import info goes here...
.pure-control-group
  %a.pure-button{:href => "#{import_accounts_path(@conn, :new)}", :title => "Import accounts", :alt => "Import accounts"}
    %i.fa.fa-upload.fa-fw{:aria-hidden => "true"}
