%h1 Import accounts

-# TODO: fix the form.html...

= render "form.html", changeset: @changeset, action: import_accounts_path(@conn, :create)

-#= link "Back", to: import_accounts_path(@conn, :index)
