- form_for @changeset, @action, fn f ->
  - if @changeset.action do
    .alert.alert-danger
      %p Oops, something went wrong! Please check the errors below.

  .form-group
    = text_input f, :name, class: "form-control"
-#    = label f, :name, "Name", class: "control-label"
-#    = error_tag f, :name
-#
-#  .form-group
-#    = label f, :description, class: "control-label"
-#    = text_input f, :description, class: "form-control"
-#    = error_tag f, :description
-#
-#  .form-group
-#    = submit "Save", class: "pure-button pure-button-active"
