%h1.centered Edit product_tick_info

= render "form.html", changeset: @changeset, action: admin_product_tick_info_path(@conn, :update, @product_tick_info)

= link "Back", to: admin_product_tick_info_path(@conn, :index)
