- form_for @changeset, @action, [multipart: true], fn f ->
  - if @changeset.action do
    .alert.alert-danger.centered
      %p Oops, something went wrong! Please check the errors below.
  
  .form-group.centered
    = label f, :contracts, class: "control-label"
    = file_input f, :contracts, class: "form-control"
    = error_tag f, :contracts

  = submit "Calculate", class: "pure-button pure-button-active"
